<div class="footer-container">
    <div class="footer-left-container">
       <p> 联系我们</p>
       <p> 微信公众号：身心灵课程</p>
       <p> 邮箱：reikitraincenter@gmail.com</p>
       <p> 微信号: </p>
       <img class='wechat-icon' src="/img/wechat.jpg"/>
    </div>
    <dl class="footer-right-container">
        <dd>
            <p>网站相关介绍</p> 
            <ul>
                <li><a href="/association">华人灵气研究协会</a></li> 
            </ul>
        </dd>
        <dd>
            <p>灵气文章</p> 
            <ul>
                <li><a href="/blog-five-principle">灵气五戒</a></li> 
                <li><a href="/blog-reiki-auras">灵气与光环</a></li> 
                <li><a href="/blog-distance-reiki">远距灵气</a></li> 
                <li><a href="/blog-uses-of-reiki">灵气日常运用</a></li> 
                <li><a href="/blog-reiki-meditation">灵气21天冥想</a></li> 
                <!-- <li><a href="/articles/blog-more">更多...</a></li>  -->
            </ul>
        </dd>
        <dd>
            <p>课程链接</p> 
            <ul>
                <li><a href="/course-reiki-1-2-3">灵气1-3阶</a></li> 
                <li><a href="/course-reiki-master">灵气导师阶</a></li> 
                <li><a href="/course-reiki-karuna">Karuna灵气</a></li>
                <li><a href="/course-animal">动物灵气</a></li>
            </ul>
        </dd>
    </dl>
</div>
