<header class="simple desktop-header">
	<div class="header-simple-wrap header-meat">
    <div class="grid-container">
        <div class="grid-100">
          <div class="logo-wrap">
            <a href="/index.html" class="logo">
              <img src="/img/logo.png" />
            </a>
          </div>
        <div class="header-menu-container">
          <ul class="menu">
            <li class="menu-item"><a href="/index.html">灵气课程</a>
            <ul class="sub-menu">
              <li class="menu-item"><a href="/course-reiki-1-2-3">臼井圣火1/2/ART阶</a></li>
              <li class="menu-item"><a href="/course-reiki-master">臼井圣火导师阶</a></li>
              <li class="menu-item"><a href="/course-reiki-karuna">圣火Karuna导师阶</a></li>
              <li class="menu-item"><a href="/course-animal" aria-current="page">动物灵气课程</a></li>
            </ul>
        </li>
        
        <li class="menu-item"><a href="#">灵气文章</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="/blog-reiki-auras">灵气观察光环 </a></li>
            <li class="menu-item"><a href="/blog-five-principle">灵气五戒</a></li>
            <li class="menu-item"><a href="/blog-distance-reiki">远距灵气</a></li> 
            <li class="menu-item"><a href="/blog-uses-of-reiki">灵气日常运用</a></li>
            <li class="menu-item"><a href="/blog-reiki-meditation">灵气21天冥想</a></li> 
          </ul>
        </li>
        <li class="menu-item"><a href="#">魔法课程</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="/candle-magick">魔法课程介绍</a></li>
          </ul>
        </li>
        <!-- <li  class="menu-item"><a href="/course-info">近期安排</a></li> -->
        <li class="menu-item"><a href="#">华人灵气研究协会</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="/association">协会介绍</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="/contact-us">联系我们</a>
        </li>
        </ul>
      </div>							
      <!-- <div class="searchform-wrap">
        <form method="get" class="searchform" id="searchform" action="https://www.reikitrainingclasses.org/">
          <input type="text" value="" name="s" id="searchbar" placeholder="Search..." />
          <input type="submit" id="searchbutton" value="&#xe800;" />
        </form>
      </div>							 -->
    </div>
  </div>
  </div>
</header>
