html, body{
    font-family: PingFangSC,FZLTXHK,arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    outline: none;
    margin: 0 auto!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    min-width: 1280px;
    background-color: transparent;
    padding: 0;
    .et_pb_banner{
        height: 400px;
        background-size: cover;
        text-align: center;
        padding: 50px;
        color: white;
        h2{
            padding-top: 60px;
            font-size: 40px;
        }
        p{
            width: 600px;
            font-size: 20px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    a {
        text-decoration: none;
        background-color: transparent;
    }
    li {
        list-style-type: none;
    }
    a:active, a:hover {
        outline: 0;
    }
    h1,h2,h3,h4,p,a,ul,li{
        font-family: PingFangSC,FZLTXHK,arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

    }
}

table {font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}

table th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;}

table td {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}