/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  display: none;
  user-select:none;
  color: $text-color; 
  padding: 0 30px;
  position: absolute;
  text-align: center;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
  }
  .author_name {
    display: block;
    color: #000;
    font-size: 2em;
    font-weight: 700;
    width: 100%;
  }
  .author_job {
    display: block;
    color: $black;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    text-align: left;
    color: lighten($black, 60%);
    margin: 1em 0;
  }
  @include media-query($medium-screen) {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 9%;
    top: 30%;
  }
  @include media-query($large-screen) {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 10%;
    top: 30%;
  }
}
.social-links {
  font-size: 16px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      a.social-link-item {
        color: $black;
        &:hover,
        &:focus {
          color: lighten($black, 50%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  .nav-item {
    zoom: 1;
    display: inline-block;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 20px;
      font-weight: 700;
      color: lighten($black, 30%);
      &:hover,
      &:focus {
        color: lighten($black, 50%);
      }
      .fa-home {
        font-size: 23px;
        margin-right: 5px;
      }
      .fa-folder-open {
        margin-right: 3px;
      }
    }
  }
}
