.association-page{
    background-color: white;
    .et_pb_banner{
        h2{
            padding-top: 80px;
        }
    }   
    .container{
        background-color: #f6f6f6;
        text-align: left;
        padding: 50px;
        margin: 80px auto;
        width: 80%;
        h2{
            color: #ce8f66;
            font-size: 36px;
            font-weight: 900;
            text-align: center;
        }
        h4{
            padding: 30px 0px 30px 0px;
            width: 80%;
            margin: 40px auto;
            background-color: #ffffff;
            border-style: solid;
            border-width: 1px 0px 1px 0px;
            border-color: #6ec1e4;
            color: #6ec1e4;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }
        .member-box{
            padding: 0 40px;
        }
        p{
            text-align: justify;
            color: #797979;
            font-size: 15px;
            line-height: 24px;
            font-style: normal;
            font-weight: 400;
            span{
                display: inline-block;
                width: 200px;
                color: black;
            }
        }
        img{
            width: 350px;
            display: block;
            margin: 30px 0;
        }
    }
}