.contact-page{
    .et_pb_banner{
        height: 400px;
        background-size: cover;
        text-align: center;
        padding: 50px;
        color: white;
        h2{
            padding-top: 80px;
            font-size: 40px;

        }
        p{
            width: 600px;
            font-size: 20px;
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .container{
        background-color: #f6f6f6;
        width: 100%;
        padding: 80px;
        margin: 40px auto;
        p{
            color: #ce8f66;
            font-size: 22px;
            padding-left: 20px;
            padding-top: 20px;
         }
    }
}