.desktop-header{
    position: relative;
    z-index: 222;
    width: 100%;
    background: #fff;
    padding: 0;
    text-align: center;
    box-shadow: 0 0 2px rgba(1, 1, 1, 0.15);
    -moz-box-shadow: 0 0 2px rgba(1, 1, 1, 0.15);
    -webkit-box-shadow: 0 0 2px rgba(1, 1, 1, 0.15);
    transition: top 0.2s ease-in-out;
    .grid-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1120px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .header-simple-wrap {
        height: 80px;
        line-height: 80px;
        vertical-align: middle;
    }
    .header-simple-inside {
        display: table;
        height: 80px;
        vertical-align: middle;
    }
    .logo-wrap {
        display: inline-block;
        vertical-align: middle;
        .logo {
            max-width: 190px;
            float: left;
            img {
                display: table-cell;
                vertical-align: middle;
                line-height: 80px;
                max-height: 60px;
            }
        }
    }
    .header-menu-container {
        display: inline-block;
        margin: 0 50px;
        vertical-align: top;
    }
    ul.menu {
        margin: 0;
        text-align: center;
        .menu-item {
            list-style: none;
            float: left;
            margin: 0;
            position: relative;
            line-height: 28px;
            &:hover{
                background: #f9f9f9;
                color: #343635;
                ul.sub-menu{
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0s;
                }
            }
            ul.sub-menu {
                -webkit-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
                -ms-transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
                transition: all 0.2s cubic-bezier(0.7, 0, 0.175, 1) 0s;
                visibility: hidden;
                opacity: 0;
                width: 220px;
                position: absolute;
                left: 50%;
                margin: 0 0 0 -110px;
                z-index: 999;
                text-align: center;
                padding: 20px 0;
                border: none;
                background: #fff;
                -webkit-border-bottom-right-radius: 1px;
                -webkit-border-bottom-left-radius: 1px;
                -moz-border-radius-bottomright: 1px;
                -moz-border-radius-bottomleft: 1px;
                border-bottom-right-radius: 1px;
                border-bottom-left-radius: 1px;
                li{
                    margin: 0 auto;
                    line-height: 28px;
                    width: 100%;
                }
                a{
                    text-transform: none;
                    padding: 10px 15px;
                    line-height: 18px;
                    height: auto;
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
            }
            a{
                color: #504746;
                font: 12px "Gotham Medium", Arial, sans-serif;
                letter-spacing: .5px;
                text-transform: uppercase;
                line-height: 80px;
                height: 80px;
                vertical-align: middle;
                padding: 0 26px;
                display: inline-block;
                color: rgba(52, 54, 53, 0.8);
            }
        }
    }
    .searchform-wrap {
        display: inline-block;
    }
    .searchform {
        line-height: 80px;
        vertical-align: middle;
        display: inline-block;
    }
    .searchform {
        border: 1px solid #f3f3f3;
        background: none;
        color: #343635;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        height: 33px;
        width: 140px;
        vertical-align: middle;
        position: relative;
        box-sizing: border-box;
    }
    input#searchbar {
        vertical-align: middle;
        background: none;
        width: 140px;
        padding: 8px 5px 8px 20px;
        float: left;
        border: none;
        font-size: 12px;
        color: #343635;
        font-family: "Gotham Medium", Arial, sans-serif;
    }
    input#searchbutton {
        font-family: "mainiconfont";
        width: 48px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 0;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 0;
        padding: 0;
        color: rgba(52, 54, 53, 0.5);
        background: none;
        font-size: 12px;
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
    }
}
