.info-container-page{
    .et_pb_banner{
        h2{
            padding-top: 80px;
        }
    }
    .main-container{
        background-color: #f6f6f6;
        .main-inner-container{
            display: block;
            width: 1210px;
            background-color: #f6f6f6;
            margin: auto;
            padding: 50px 0;
            .blog-item{
                width: 340px;
                display: inline-table;
                margin: 20px 30px;
                text-align: center;
                background-color: white;
                border-radius: 6px;
                -webkit-transition: all .3s;
                transition: all .3s;
                position: relative;
                .post_text{
                    padding: 20px;
                    p{
                        text-align: left;
                    }
                }    
                img{
                    width: 340px;
                    height: 200px;
                    object-fit: cover;
                }    
            }
            .btn-more{
                cursor: pointer;
            }
        }

    }
}